.nav-link {
    font-family: "Alegreya";
    font-size: 28px;
    font-weight: bold;
    color: #e8dab2 !important;
}


.nav-link:hover {
    color: #c0d6df !important;
    text-shadow: rgb(121, 121, 121) 0.1em 0.1em 0.2em;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-weight: bold;
}

.navbar-collapse {
    justify-content: center,
}

img {
    width: 250px; 
}